.SearchBar {
  width: 90%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.SearchBar-input {
  width: 100%;
  height: 100%;
  border: 1px solid #D6D6D6;
  padding-left: 10px;
  border-radius: 5px;
}

.SearchBar-input:focus {
  outline: none;
  border-color: #007BFF;
}

.clear-search-bar-btn {
  height: 35px;
  width: 20%;
  background-color: #FE5A73;
  color: #FFFFFF;
  border: 1px solid #D6D6D6;
  border-radius: 25px;
}

.clear-search-bar-btn:hover {
  background-color: #FF3B30;
  cursor: pointer;
}

.clear-search-bar-btn:active {
  translate: 1px 1px;
}