@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html, body {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #1D1D1D;
  box-sizing: border-box;
  overflow-x: hidden;
}